name: Flutter Release Build

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter pub get

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/keystore.jks

      - name: Create key.properties
        run: |
          echo storePassword=${{ secrets.KEYSTORE_PASSWORD }} > android/key.properties
          echo keyPassword=${{ secrets.KEY_PASSWORD }} >> android/key.properties
          echo keyAlias=${{ secrets.KEY_ALIAS }} >> android/key.properties
          echo storeFile=keystore.jks >> android/key.properties

      - name: Build AAB
        run: flutter build appbundle --release

      # - run: flutter build apk --release --split-per-abi

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/app/outputs/bundle/release/app-release.aab
          tag: v1.0.${{ github.run_number }}
          name: Release v1.0.${{ github.run_number }}
          body: Automated release of version v1.0.${{ github.run_number }}
          token: ${{ secrets.GITHUB_TOKEN }}
